/* gradient heading */
.main-heading {
  display: inline-block;
  margin: 2rem 0;
  font-style: normal;
  font-weight: 600;
  color: #33d2ff;
  line-height: 1.2;
}

.pic-container {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.profile-pic {
  margin: 0 auto;
}
