/* gradient heading */
.main-heading {
  display: inline-block;
  margin: 2rem 0;
  font-style: normal;
  font-weight: 600;
  color: #33d2ff;
  line-height: 1.2;
}

.pic-container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.profile-pic {
  border-radius: 100%;
}

.contact {
  font-weight: 100;
  margin: 20px auto;
}

.email {
  font-weight: 200;
}

.about {
  margin-top: 50px;
}

.name {
  margin: 0 auto;
}

hr {
  background-color: white;
  border-color: white;
  color: white;
}
